.drop-message {
  display: block;
  color: #444;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 120px;
  text-align: center;
}

.input-wrapper {
  display: block;
  border: 2px dashed #0087F7;
  border-radius: 5px;
  cursor: pointer;
  height: 120px;
  margin: 20px;
}

.input-wrapper input {
  display: none;
}

.line {
  display: block;
}

.attachment {
  height: 120px;
  width: 120px;
  margin-left: 10px;
  margin-right: 10px;
  object-fit: cover;
}

.attachment-filename {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  overflow: hidden;
  margin-bottom: 8px;
  margin-left: -116px;
  max-height: 96px;
  text-align: center;
  text-overflow: ellipsis;
  width: 90px;
  word-wrap: break-word;
}

.attachment-link {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-end;
}

.progress-bar {
  width: 100%;
}

.request-form /deep/ .mat-card-actions {
  margin-bottom: -16px;
}

.request-form /deep/ .mat-card-content>:first-child {
  margin-top: 20px;
}

.request-form /deep/ .mat-card-header-text {
  margin: 0;
}

.request-form .status {
  margin-top: 32px;
}

.request-form .urgent {
  margin-left: 20px;
}

.request-form .wide-input {
  min-width: 280px;
}

@media (max-width: 480px) {
  .hide-on-small-screens {
    display: none;
  }
}
