<mat-card class="request-form">
  <form #requestForm="ngForm">
    <mat-card-header class="request-form-title">
      {{ title }}
    </mat-card-header>

    <mat-card-content>
      <div class="line" *ngIf="!request.key">
        <mat-form-field class="wide-input">
          <input matInput
            [formControl]="reporterControl" [matAutocomplete]="reporterAutocomplete" [(ngModel)]="request.reporter"
            placeholder="Reporter Email"
            type="text"
            required>
          <span matSuffix *ngIf="request.reporter === undefined || request.reporter === '' || request.reporter && !request.reporter.includes('@')">@premier-pump.net</span>
          <mat-autocomplete #reporterAutocomplete="matAutocomplete">
            <mat-option *ngFor="let option of filteredReporters | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="line">
        <mat-form-field class="wide-input">
          <input matInput
            [formControl]="assigneeControl" [matAutocomplete]="assigneeAutocomplete" [(ngModel)]="request.assignee"
            placeholder="Assignee Email"
            type="text"
            required>
          <span matSuffix *ngIf="request.assignee !== undefined && !request.assignee.includes('@')">@premier-pump.net</span>
          <mat-autocomplete #assigneeAutocomplete="matAutocomplete">
            <mat-option *ngFor="let option of filteredAssignees | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="line">
        <mat-input-container class="wide-input">
          <input matInput
                 [(ngModel)]="request.salesOrderNumber"
                 name="salesOrderNumber"
                 placeholder="SO#"
                 required>
        </mat-input-container>
      </div>

      <div class="line">
        <mat-form-field>
          <mat-select [(ngModel)]="request.category" name="category" placeholder="Category" required>
            <mat-option *ngFor="let category of categories" [value]="category">
              {{ category | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox [(ngModel)]="request.isUrgent" name="isActive" color="warn" class="urgent">
          Urgent
        </mat-checkbox>
      </div>

      <app-watchers-chip-list-input
        class="line"
        *ngIf="request.key"
        [watchers]="request.watchers"
        (watchersUpdated)="request.watchers = $event">
      </app-watchers-chip-list-input>

      <mat-input-container class="line">
        <textarea matInput
               matTextareaAutosize
               [matAutosizeMinRows]="5"
               [(ngModel)]="request.discrepancy"
               name="discrepancy"
               placeholder="Discrepancy"
               required>
        </textarea>
      </mat-input-container>

      <mat-input-container class="line">
        <textarea matInput
               matTextareaAutosize
               [matAutosizeMinRows]="5"
               [(ngModel)]="request.suggestedRemedy"
               name="suggestedRemedy"
               placeholder="Suggested Remedy"
               required>
        </textarea>
      </mat-input-container>

      <div *ngIf="currentUpload">
        <progress class="progress-bar" min=1 max=100 value="{{ currentUpload?.progress }}"></progress>
        Progress: {{ currentUpload?.progress | number: '1.0-1' }}% Complete
      </div>

      <label class="input-wrapper">
        <file-drop class="upload-form" (onFileDrop)="droppedFiles($event)" customstyle="drop-zone-custom">
          <span class="drop-message">
            Click <span class="hide-on-small-screens">or drag </span>to upload <span class="hide-on-small-screens">files and </span>pictures
          </span>
          <input type="file" accept="{{ acceptedFileTypes.join(',') }}" class="button" (change)="processFiles($event)" multiple>
        </file-drop>
      </label>

      <div class="attachments-wrapper">
        <span *ngIf="request && uploads && uploads.length">
          <span *ngFor="let upload of uploads">
            <img class="attachment" *ngIf="upload.thumbUrl || upload.url" src="{{ upload.thumbUrl || upload.url }}">
          </span>
        </span>

        <span *ngIf="request && request.attachments && request.attachments.length">
          <span *ngFor="let attachment of request.attachments">
            <span class="attachment-link">
              <img class="attachment" src="{{ attachment.thumbUrl }}">
              <span class="attachment-filename" *ngIf="attachment.attachmentUrl !== attachment.thumbUrl">{{ attachment.filename }}</span>
            </span>
          </span>
        </span>
      </div>

      <div class="line">
        <mat-form-field class="status">
          <mat-select [(ngModel)]="request.status" name="status" placeholder="Status" required>
            <mat-option *ngFor="let status of statuses" [value]="status">
              {{ status | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-input-container class="line">
        <textarea matInput
               matTextareaAutosize
               [matAutosizeMinRows]="5"
               [(ngModel)]="request.approvedActionPlan"
               name="approvedActionPlan"
               placeholder="Approved Plan of Action">
        </textarea>
      </mat-input-container>

      <div class="line">
        <mat-input-container>
          <input matInput
                 [(ngModel)]="request.ecn"
                 name="ecn"
                 placeholder="ECN">
        </mat-input-container>
      </div>

      <mat-input-container class="line" *ngIf="request.status === 'resolved'">
        <textarea matInput
                  matTextareaAutosize
                  [matAutosizeMinRows]="5"
                  [(ngModel)]="request.resolution"
                  name="resolution"
                  placeholder="Resolution"
                  required>
        </textarea>
      </mat-input-container>
    </mat-card-content>

    <mat-card-actions align="end">
      <button *ngIf="showBackButton" mat-button type="button" (click)="goBack()">CANCEL</button>

      <button mat-raised-button
              color="accent"
              (click)="save()"
              [disabled]="isSaving || !requestForm.form.valid || requestForm.form.disabled"
              type="button">
        {{ showBackButton ? 'SAVE' : 'SUBMIT' }}
      </button>
    </mat-card-actions>
  </form>
</mat-card>

<div *ngIf="(debug | async) || !env.production" style="margin-top: 20px">
  <button mat-raised-button color="primary" (click)="resetForm()">RESET FORM</button>
</div>

<div *ngIf="(debug | async) || !env.production" style="margin-top: 20px">
  <button mat-raised-button color="primary" (click)="checkIncrement()">CHECK</button>
  <p>
    {{ increment }}
  </p>
</div>

