h3 {
  font-weight: 500;
}

.less-visible {
  opacity: 0.67;
}

.mat-mini-fab {
  margin-left: 20px;
}

.attachment {
  height: 120px;
  width: 120px;
  margin-left: 10px;
  margin-right: 10px;
  object-fit: cover;
}

.attachment-filename {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 8px;
  margin-left: -116px;
  max-height: 96px;
  text-align: center;
  text-overflow: ellipsis;
  width: 90px;
  word-wrap: break-word;
}

.attachment-link {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-end;
}

.preserve-newlines {
  margin-top: -16px;
  white-space: pre-line;
}

.reassign-button {
  margin-top: -5px;
  margin-bottom: -5px;
}

.request-detail,
.standalone-message {
  margin: 20px;
}

.urgent {
  margin: -4px 0 0 2px;
  vertical-align: middle;
}
