h3 {
  font-weight: 500;
}

.less-visible {
  opacity: 0.67;
}

.mat-mini-fab {
  margin-left: 20px;
}

.photo {
  height: 120px;
  width: 120px;
  margin-left: 10px;
  margin-right: 10px;
  object-fit: cover;
}

.reassign-button {
  margin-top: -5px;
  margin-bottom: -5px;
}

.request-detail,
.standalone-message {
  margin: 20px;
}

.urgent {
  margin: -4px 0 0 2px;
  vertical-align: middle;
}
